In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
gas = pd.read_excel('gasprices.xlsx')
gas.head(2)

,Year,Australia,Canada,France,Germany,Italy,Japan,Mexico,South Korea,UK,USA
0,1990,NaN,1.87,3.63,2.65,4.59,3.16,1.0,2.05,2.82,1.16
1,1991,1.96,1.92,3.45,2.90,4.50,3.46,1.3,2.49,3.01,1.14

In [3]:
from matplotlib import style
style.use('ggplot')

In [4]:
years= gas.Year[::3]
years

0     1990
3     1993
6     1996
9     1999
12    2002
15    2005
18    2008
Name: Year, dtype: int64